@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions

@inject IPublishedUrlProvider PublishedUrlProvider


@{ var selection = Model.Ancestors().ToArray(); }

@if (selection?.Length > 0)
{


 <div class="lets-connetct">
            <div class="link">
                    @foreach (var item in selection.OrderBy(x => x.Level)){
                <a href="@item.Url(PublishedUrlProvider)">@item.Name</a>
                }
                <span>@Model.Name</span>
            </div>
    <h1>@Model.Value("Titlepage")</h1>   

</div>

 
}