
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage



    <footer>
        <section class="footer-section">
            <img src="~/images/background-lines-white-right.svg" alt="background-lines-white-right">
            <div class="container">
                <div class="logo">
                    <img src="~/images/logotype-white.svg" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, blanditiis praesentium. Consequatur eum nisi incidunt sapiente debitis, rem facere quam necessitatibus doloremque. Rem deleniti impedit temporibus assumenda. Saepe, atque nulla.</p>
                </div>

                <div>
                    <h5>Company</h5>
                    <ul>
                        <li><a href="/about">About</a></li>
                        <li><a href="/features">Features</a></li>
                        <li><a href="/works">Works</a></li>
                        <li><a href="/career">Career</a></li>
                    </ul>
                </div>

                <div>
                    <h5>Help
                    </h5>
                    <ul>
                        <li><a href="/supports">Customer supports</a></li>
                        <li><a href="delivery">Delivery Details</a></li>
                        <li><a href="/agreements/terms">Terms & Condition</a></li>
                        <li><a href="/agreement/privacy">Privacy Policy</a></li>
                    </ul>
                </div>

                <div>
                    <h5>Resources</h5>
                    <ul>
                        <li><a href="/free/ebook">Free Book</a></li>
                        <li><a href="/tutorials/development">Develompent Tutorial</a></li>
                        <li><a href="/guides/how-to-bolg">work to bolg</a></li>
                        <li><a href="/http://youtube.com" target="_blank">Youtube play list</a></li>
                    </ul>
                </div>

                <div>
                    <h5>Link</h5>
                    <ul>
                        <li><a href="/free/ebook">Free Book</a></li>
                        <li><a href="/tutorials/development">Develompent Tutorial</a></li>
                        <li><a href="/guides/how-to-bolg">work to bolg</a></li>
                        <li><a href="/http://youtube.com" target="_blank">Youtube play list</a></li>
                       
                    </ul>
                </div>

               
            </div>

        </section>

        <section class="copyright-section">
            <div class="container">
                <div>2023 crito consulting Company</div>
                <div class="social-media">
                    <a href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                    <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.linkedin.com"><i class="fa-brands fa-linkedin"></i></a>

                </div>

            </div>

        </section>

    </footer>